
/* Adiciona a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset CSS para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica a fonte Poppins ao corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px; /* ajuste conforme necessário */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Estilos para o jumbotron */
.jumbotron {
    background-color: #f0f0f0;
    padding: 70px 0;
    text-align: center;
}

.imagem-jumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-text {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto;
    text-align: left; /* Alinha o código à esquerda */
}

.img-jumb img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção de projetos */
.projects {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.project-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do cartão */
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-info {
    padding: 20px;
}

.project-card h3 {
    margin: 20px 0;
    font-size: 20px;
    color: #333; /* Cor do título */
}

.project-card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666; /* Cor do texto */
}

.project-card button {
    background-color: #007bff; /* Cor do botão */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-card button:hover {
    background-color: #0056b3; /* Cor do botão em hover */
}

/* Estilos para a seção de contato */
.contact {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact form label {
    display: block;
    margin-bottom: 10px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact form button:hover {
    background-color: #0056b3;
}
