@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Exo+2:ital,wght@0,300;1,200&family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,900&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}



nav {
  width: 100%;
  height: 60px;
  background: #FFF;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  position: fixed;
  z-index: 1;
}

h2{
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  background: black;
}
#nav-list{
  display: flex;
  list-style: none;
}

#nav-item {
  padding: 10px;
}

#nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #4961DC;
  text-decoration: none;
}

.hamburguer {
  width: 50px;
  height: 50px;
  margin: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #6A98F0;
}

#linha {
  width: 100%;
  height: 9px;
  background: red;
}
/*
p{
  font-family: Montserrat, sans-serif;
}*/



h1 {
  font-weight: bold;
  font-size: 60px;
  color: rgb(56, 56, 56);
  font-family: 'Montserrat', sans-serif;
}

/*sobre*/
.jumb {
  width: 100vw;
  height: 720px;
  padding: 30px;
  background: linear-gradient(45deg,#92a3f4, #FFF, #FFF);
  background-size: 300% 300%;
  /*
  animation: color 12s ease-in-out infinite;
  */
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 6px 10px #C7D0FF;
}

.jumb-text {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(56, 56, 56);
}

.jumb-text2 {
  font-size: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(56, 56, 56);
}

/*

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
*/
.btn-curriculo {
  text-decoration: none;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  padding: 11px 27px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.btn-redes{
  color: #6D83F2;
  font-size: 20px;
  padding: 20px;

}
.btn-redes i {
  padding: 10px;
}

.me-code{
  width: 419px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px #4961DC;
  
}

.tab{
  margin-left: 25px;
  
}

.code-text{
  color: #3757f9;
  font-size: 17px;
  font-family: 'Montserrat';
}

.tecnologias{
  text-align: center;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*skils*/
.skils{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 500px;

}
.card1 {
  width: 320px;
  height: 300px;
  text-align: center;
  padding: 50px;
  box-shadow: 1px 2px 16px #4961DC;
}

.card2 {
  width: 320px;
  height: 300px;
  text-align: center;
  padding: 50px;
  box-shadow: 1px 2px 16px #4961DC;
}

.js{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 2px;
  background: #FFF;
  color: #4961DC;

}

.card3 {
  width: 320px;
  height: 300px;
  text-align: center;
  padding: 50px;
  box-shadow: 1px 2px 16px #4961DC;
}

.ilustrado1{
  display: grid;
  place-items: center;
}
.bolha {
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #FFF;
  display: flex;
  margin-top: -22px;
  margin-bottom: 22px;
  align-items: center;
  justify-content: center;
}

.sobre-mim {
  width: 105%;
  height: 500px;
  margin-left: -16px;
  padding: 100px;
  z-index: -1;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  transform: rotate(-3deg);

  
}

.img {
  width: 100px;
  height: 100px;
}

.img-perfil {
  border-radius: 50%;
  background: #FFF;
  padding: 6px;
}

.texto-sobre{
  width: 100%;
  height: 300px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  transform: rotate(363deg) !important; /*deixa o testo reto*/
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.texto-sobre-mim {
  width: 900px;
  height: 700px;
  margin-left: 200px;
  color: #FFF;
}

/*cards do sobre mim*/
.cards-sobre {
  width: 98%;
  height: 550px;
  transform: rotate(363deg) !important; /*deixa os cards retos*/
  padding:40px;
  color: #6D83F2;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card01 {
  width: 400px;
  height: 150px;
  background: #FFF;
  padding: 30px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

.card02 {
  width: 400px;
  height: 150px;
  background: #FFF;
  padding: 30px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

.card03 {
  width: 400px;
  height: 150px;
  background: #FFF;
  padding: 30px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

/*Projetos*/

.projetos {
  width: 100%;
  height: 700px;
  padding: 40px;
  text-align: center;
  margin-top: 170px;
  display: flex;
  justify-content: center;

}
.titulo-projetos > span {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 190px;
  margin-bottom: -140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #4961DC;
}

.aba-projeto1 {
  display: flex;
  align-items: center;
}

.github-stats{
  width: 700px;
  height: 400px;
  background: #a8b6fb;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin-left: -24px;
}


.projeto1{
  width: 600px;
  height: 570px;
  padding: 40px;
  background: #FFF;
  text-align: left;
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.projeto1 > h3 {
  color: rgb(56, 56, 56);
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 35px;
}

.projeto1 > p {
  padding: 15px;
  font-size: 21px;

  font-family: 'Montserrat', sans-serif;
}

.linguagens-icones {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

/*Responsividade*/
@media screen and (max-width: 737px) {
  header {
    display: none;
  }
  .jumb {
    width: 110vw;
    padding: 30px;
    background: linear-gradient(390deg, #bfc7f5,#FFF,#FFF);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    

  }

  .jumbroton {
    text-align: center;
    margin-bottom: -150px;
  }
  .jumb-text{
    text-align: center;
    font-size: 18px;
  }
  .jumb-text2{
    font-size: 18px;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
  }

  .btn-curriculo {
    margin: 50px;
  }

  .btn-redes {
    display: flex;
    justify-content: center;
  }

  .me-code {
    width: 300px;
    height: 220px;
  }

  .code-text{
    font-size: 12px;
  }

  /*coisas que eu amo*/

  .skils {
    flex-direction: column;
    align-items: center;
    margin-top: 210px;
    padding: 20px;
  }
  .card1 {
    margin-bottom: 19px;
  }
  .card2 {
    margin-bottom: 19px;
  }

  .sobre-mim {
    width: 105%;
    height: 1000px;
    margin-left: -16px;
    padding: 30px;
    margin-top: 300px;
  }
  .cards-sobre{
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-left: -22px;
    margin-bottom: 25px;
  }

  .card01{
    width: 300px;
    text-align: start;
  }

  .card02{
    width: 300px;
    text-align: start;
  }

  .card03{
    width: 300px;
    text-align: start;
  }

  .sobre-mim{
    width: 113%;
    margin-left: -25px;
  }

  .texto-sobre {
    width: 500px;
    text-align: center;
    margin-left: -150px;
  }
  .texto-sobre-mim{
    
    height: 400px;
    font-size: 15px;
    margin-top: 300px;
    text-align: center;
  }
  .img-perfil{
    margin-left: 60px;
  }

}